body {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/02/06/25/angel-1790711__340.png');
  background-repeat: no-repeat;
  background-position:top;
  background-color: #FFFDF9;
}
.mainContainer {
  margin-top: 300px;
}
.container {
  display: flex;
  justify-content: center;
  
}

h1 {
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  color: #555555;
  
}
button {
padding: 10px;
border-radius: 15px;
border: none;
background-color: #D9E4DD;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;

}

button:hover {
  background-color: #C9D99E;
  font-size: 25px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #709078;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 50px;
}

@media all and (max-width:500px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  
  h1{
    font-size: 40px;
  }
}
